.sider-header {
  padding: 18px 0px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.content {
  overflow: auto;
  height: calc(100vh - 64px);
  padding: 24px;
}

header.header {
  top: 0;
  position: sticky;
  padding: 10px 24px;
  height: 60px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-30);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}

.container :global(.ant-layout-sider-light .ant-layout-sider-trigger) {
  display: none;
}

aside.sider:global(.ant-layout-sider) {
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-30);
  padding: 20px 5px 0px;
}